.header__user-modal{
    position: absolute;
    top: 247%;
    color: black;
    left: 0;
    list-style-type: none;
    background-color: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    border-radius: 2px;
    width: 150px;
    display: none;
}
.header__user-modal li{
    padding: 10px;
    line-height: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.header__user-modal li:hover{
    color: #0d89e9;
}

.open{
    display: block;
}